examples/6-server/Modbus-Demo-Server-Showcase.json
[
    {
        "id": "demo-server-flow",
        "type": "tab",
        "label": "Modbus Demo Server",
        "disabled": false,
        "info": "Interactive Modbus demo server with realistic industrial device simulation.\n\nFeatures:\n- Real-time sensor simulation\n- Motor control demonstration\n- Alarm management system\n- Performance monitoring\n- Supports both TLS and non-TLS connections through client configuration"
    },
    {
        "id": "comment-demo-intro",
        "type": "comment",
        "z": "demo-server-flow",
        "name": "🏭 Industrial Automation Simulation",
        "info": "## Modbus Demo Server - Industrial Automation Showcase\n\nThis flow demonstrates a complete industrial automation scenario using the Modbus Demo Server.\n\n### Simulated Devices:\n1. **Temperature Sensors** (Input Registers 0-9)\n   - Realistic temperature readings with noise\n   - Trending and drift simulation\n   - Alarm thresholds\n\n2. **Pressure Sensors** (Input Registers 10-19)\n   - Process pressure simulation\n   - Safety limits monitoring\n   - Pressure trend analysis\n\n3. **Motor Controllers** (Holding Registers 0-19)\n   - Start/Stop control\n   - Speed control (RPM)\n   - Status feedback\n   - Fault simulation\n\n4. **Alarm System** (Coils 0-31)\n   - Temperature alarms\n   - Pressure alarms\n   - Motor fault alarms\n   - System status indicators\n\n5. **Production Counters** (Holding Registers 20-29)\n   - Part counters\n   - Batch totals\n   - Efficiency metrics\n\n### TLS Support:\n- Use standard nodes with TLS-enabled client configuration\n- Same functionality, added security",
        "x": 210,
        "y": 60,
        "wires": []
    },
    {
        "id": "demo-server-node",
        "type": "modbus-server-demo",
        "z": "demo-server-flow",
        "name": "Industrial Demo Server",
        "logEnabled": false,
        "hostname": "0.0.0.0",
        "serverPort": 10502,
        "responseDelay": 50,
        "delayUnit": "ms",
        "showStatusActivities": true,
        "showErrors": true,
        "coilsBufferSize": 1000,
        "holdingBufferSize": 1000,
        "inputBufferSize": 1000,
        "discreteBufferSize": 1000,
        "demoDataPattern": "mixed",
        "demoUpdateInterval": 500,
        "demoAutoStart": true,
        "demoRandomSeed": 42,
        "demoValueMin": 0,
        "demoValueMax": 1000,
        "demoRealisticMode": true,
        "demoDeviceSimulation": "plc",
        "demoErrorRate": 0.01,
        "x": 450,
        "y": 120,
        "wires": [["server-status-monitor"]]
    },
    {
        "id": "demo-client-config",
        "type": "modbus-client",
        "name": "Demo Client (TLS Optional)",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "127.0.0.1",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "tlsEnabled": false
    },
    {
        "id": "comment-temperature",
        "type": "comment",
        "z": "demo-server-flow",
        "name": "🌡️ Temperature Monitoring",
        "info": "## Temperature Sensor Array\n\nMonitors 10 temperature sensors across the facility:\n- Sensor 0-2: Production floor\n- Sensor 3-5: Warehouse\n- Sensor 6-7: Server room\n- Sensor 8-9: External\n\n### Alarm Thresholds:\n- Warning: > 35°C\n- Critical: > 45°C\n- Shutdown: > 55°C\n\n### TLS Security:\nEnable TLS in client config for secure temperature data transmission",
        "x": 180,
        "y": 200,
        "wires": []
    },
    {
        "id": "temp-monitor",
        "type": "modbus-getter",
        "z": "demo-server-flow",
        "name": "Read Temperature Sensors",
        "showStatusActivities": false,
        "showErrors": false,
        "logIOActivities": false,
        "unitid": "1",
        "dataType": "InputRegister",
        "adr": "0",
        "quantity": "10",
        "server": "demo-client-config",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 460,
        "y": 200,
        "wires": [
            ["temp-processor"],
            []
        ]
    },
    {
        "id": "temp-trigger",
        "type": "inject",
        "z": "demo-server-flow",
        "name": "Poll Every 2s",
        "props": [{"p": "payload"}],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 240,
        "wires": [["temp-monitor"]]
    },
    {
        "id": "temp-processor",
        "type": "function",
        "z": "demo-server-flow",
        "name": "Process Temperature Data",
        "func": "// Convert raw values to temperatures (divide by 10)\nlet temps = msg.payload.map(val => val / 10);\n\n// Check for alarms\nlet alarms = [];\ntemps.forEach((temp, index) => {\n    if (temp > 55) {\n        alarms.push({sensor: index, level: 'CRITICAL', temp: temp});\n    } else if (temp > 45) {\n        alarms.push({sensor: index, level: 'WARNING', temp: temp});\n    } else if (temp > 35) {\n        alarms.push({sensor: index, level: 'CAUTION', temp: temp});\n    }\n});\n\nmsg.temperatures = temps;\nmsg.alarms = alarms;\nmsg.avgTemp = temps.reduce((a,b) => a+b, 0) / temps.length;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 200,
        "wires": [["temp-display", "alarm-handler"]]
    },
    {
        "id": "temp-display",
        "type": "debug",
        "z": "demo-server-flow",
        "name": "Temperature Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "temperatures",
        "targetType": "msg",
        "statusVal": "avgTemp",
        "statusType": "msg",
        "x": 950,
        "y": 180,
        "wires": []
    },
    {
        "id": "comment-motor",
        "type": "comment",
        "z": "demo-server-flow",
        "name": "⚙️ Motor Control System",
        "info": "## Motor Control Interface\n\nControl and monitor industrial motors:\n\n### Control Registers:\n- Register 0-1: Motor 1 Speed/Status\n- Register 2-3: Motor 2 Speed/Status\n- Register 4-5: Motor 3 Speed/Status\n\n### Commands:\n- Speed: 0-1500 RPM\n- Status Codes:\n  - 0: Stopped\n  - 1: Running\n  - 2: Fault\n  - 3: Maintenance\n\n### TLS Security:\nSecure motor control prevents unauthorized operation",
        "x": 170,
        "y": 320,
        "wires": []
    },
    {
        "id": "motor1-start",
        "type": "inject",
        "z": "demo-server-flow",
        "name": "Start Motor 1",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[750, 1]",
        "payloadType": "json",
        "x": 170,
        "y": 360,
        "wires": [["motor1-control"]]
    },
    {
        "id": "motor1-stop",
        "type": "inject",
        "z": "demo-server-flow",
        "name": "Stop Motor 1",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[0, 0]",
        "payloadType": "json",
        "x": 170,
        "y": 400,
        "wires": [["motor1-control"]]
    },
    {
        "id": "motor1-control",
        "type": "modbus-write",
        "z": "demo-server-flow",
        "name": "Motor 1 Control",
        "showStatusActivities": true,
        "showErrors": false,
        "unitid": "1",
        "dataType": "MHoldingRegisters",
        "adr": "0",
        "quantity": "2",
        "server": "demo-client-config",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 440,
        "y": 380,
        "wires": [
            ["motor-status"],
            ["motor-complete"]
        ]
    },
    {
        "id": "motor-status",
        "type": "debug",
        "z": "demo-server-flow",
        "name": "Motor Command",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 360,
        "wires": []
    },
    {
        "id": "motor-complete",
        "type": "debug",
        "z": "demo-server-flow",
        "name": "Motor Response",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 680,
        "y": 400,
        "wires": []
    },
    {
        "id": "comment-alarm",
        "type": "comment",
        "z": "demo-server-flow",
        "name": "🚨 Alarm Management",
        "info": "## Alarm System\n\nCentralized alarm monitoring and management:\n\n### Alarm Types:\n- Coils 0-9: Temperature alarms\n- Coils 10-19: Pressure alarms\n- Coils 20-29: Motor fault alarms\n- Coils 30-31: System status\n\n### Alarm Priority:\n1. **Critical**: Immediate action required\n2. **Warning**: Attention needed\n3. **Caution**: Monitor closely\n4. **Info**: Status update\n\n### TLS Security:\nEncrypted alarm transmission prevents tampering",
        "x": 170,
        "y": 460,
        "wires": []
    },
    {
        "id": "alarm-handler",
        "type": "function",
        "z": "demo-server-flow",
        "name": "Alarm Logic",
        "func": "// Handle alarms from various sources\nif (msg.alarms && msg.alarms.length > 0) {\n    // Set alarm coils based on alarm levels\n    let coilStates = new Array(32).fill(false);\n    \n    msg.alarms.forEach(alarm => {\n        if (alarm.sensor < 10) {\n            // Temperature alarm\n            coilStates[alarm.sensor] = true;\n        }\n    });\n    \n    // Prepare write to alarm coils\n    msg.payload = coilStates.slice(0, 10);\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 500,
        "wires": [["alarm-write"]]
    },
    {
        "id": "alarm-write",
        "type": "modbus-write",
        "z": "demo-server-flow",
        "name": "Update Alarm Coils",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "10",
        "server": "demo-client-config",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 650,
        "y": 500,
        "wires": [
            ["alarm-status"],
            []
        ]
    },
    {
        "id": "alarm-status",
        "type": "debug",
        "z": "demo-server-flow",
        "name": "Alarm Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 870,
        "y": 500,
        "wires": []
    },
    {
        "id": "comment-performance",
        "type": "comment",
        "z": "demo-server-flow",
        "name": "📊 Performance Metrics",
        "info": "## Performance Monitoring\n\nReal-time performance metrics:\n\n### Metrics Tracked:\n- Response time (ms)\n- Throughput (req/sec)\n- Error rate (%)\n- Connection stability\n\n### Performance Targets:\n- Response: < 100ms\n- Throughput: > 100 req/sec\n- Error rate: < 1%\n- Uptime: > 99.9%\n\n### TLS Impact:\n- ~5-10ms additional latency with TLS\n- Acceptable for most industrial applications",
        "x": 170,
        "y": 580,
        "wires": []
    },
    {
        "id": "perf-monitor",
        "type": "function",
        "z": "demo-server-flow",
        "name": "Performance Tracker",
        "func": "// Track performance metrics\nlet metrics = flow.get('metrics') || {\n    requests: 0,\n    errors: 0,\n    totalTime: 0,\n    startTime: Date.now()\n};\n\nmetrics.requests++;\n\nif (msg.error) {\n    metrics.errors++;\n}\n\nif (msg.responseTime) {\n    metrics.totalTime += msg.responseTime;\n}\n\n// Calculate statistics\nlet runtime = (Date.now() - metrics.startTime) / 1000;\nlet stats = {\n    totalRequests: metrics.requests,\n    errorRate: (metrics.errors / metrics.requests * 100).toFixed(2) + '%',\n    avgResponseTime: (metrics.totalTime / metrics.requests).toFixed(2) + 'ms',\n    throughput: (metrics.requests / runtime).toFixed(2) + ' req/sec',\n    uptime: runtime.toFixed(0) + ' seconds'\n};\n\nflow.set('metrics', metrics);\nmsg.performanceStats = stats;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 620,
        "wires": [["perf-display"]]
    },
    {
        "id": "perf-display",
        "type": "debug",
        "z": "demo-server-flow",
        "name": "Performance Stats",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "performanceStats",
        "targetType": "msg",
        "statusVal": "performanceStats.throughput",
        "statusType": "msg",
        "x": 690,
        "y": 620,
        "wires": []
    },
    {
        "id": "server-status-monitor",
        "type": "debug",
        "z": "demo-server-flow",
        "name": "Server Events",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 120,
        "wires": []
    },
    {
        "id": "comment-batch",
        "type": "comment",
        "z": "demo-server-flow",
        "name": "📦 Batch Processing Demo",
        "info": "## Batch Processing with Sequencer\n\nDemonstrates efficient batch operations:\n\n### Batch Operations:\n1. Read all sensors\n2. Process data\n3. Update outputs\n4. Log results\n\n### Benefits:\n- Reduced network overhead\n- Atomic operations\n- Better performance\n\n### TLS Consideration:\n- Batch operations minimize TLS handshake overhead\n- More efficient for secure connections",
        "x": 180,
        "y": 700,
        "wires": []
    },
    {
        "id": "batch-trigger",
        "type": "inject",
        "z": "demo-server-flow",
        "name": "Batch Process",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 180,
        "y": 740,
        "wires": [["batch-sequencer"]]
    },
    {
        "id": "batch-sequencer",
        "type": "modbus-flex-sequencer",
        "z": "demo-server-flow",
        "name": "Batch Operations",
        "sequences": [
            {
                "name": "readTemps",
                "unitid": "1",
                "fc": "FC4",
                "address": "0",
                "quantity": "10"
            },
            {
                "name": "readPressures",
                "unitid": "1",
                "fc": "FC4",
                "address": "10",
                "quantity": "10"
            },
            {
                "name": "readMotorStatus",
                "unitid": "1",
                "fc": "FC3",
                "address": "0",
                "quantity": "6"
            }
        ],
        "server": "demo-client-config",
        "showStatusActivities": false,
        "showErrors": false,
        "logIOActivities": false,
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 430,
        "y": 740,
        "wires": [
            ["batch-processor"],
            []
        ]
    },
    {
        "id": "batch-processor",
        "type": "function",
        "z": "demo-server-flow",
        "name": "Process Batch",
        "func": "// Process batch results\nlet results = msg.payload;\n\nmsg.batchSummary = {\n    temperatures: results.readTemps ? results.readTemps.map(v => v/10) : [],\n    pressures: results.readPressures ? results.readPressures.map(v => v/10) : [],\n    motorStatus: results.readMotorStatus || [],\n    timestamp: new Date().toISOString()\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 740,
        "wires": [["batch-display"]]
    },
    {
        "id": "batch-display",
        "type": "debug",
        "z": "demo-server-flow",
        "name": "Batch Results",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "batchSummary",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 740,
        "wires": []
    },
    {
        "id": "comment-tls-toggle",
        "type": "comment",
        "z": "demo-server-flow",
        "name": "🔒 Enable TLS for Production",
        "info": "## Switching to TLS Mode\n\nTo enable TLS for this demo:\n\n1. **Edit the 'Demo Client' configuration node**\n2. **Check 'Enable TLS' checkbox**\n3. **Configure certificates** (or use demo mode)\n4. **Deploy the flow**\n\nAll nodes will automatically use TLS!\n\n### Benefits of TLS:\n- Encrypted data transmission\n- Authentication of server\n- Protection against MITM attacks\n- Compliance with security standards\n\n### No Code Changes Needed:\n- Same nodes work with or without TLS\n- Configuration determines security level\n- Seamless transition to production",
        "x": 190,
        "y": 820,
        "wires": []
    }
]