examples/4-security/tls-secure-modbus/modbus-tls-server-flow.json
[
    {
        "id": "tls-server-flow",
        "type": "tab",
        "label": "Modbus TLS Server Example",
        "disabled": false,
        "info": "This flow demonstrates a secure Modbus TCP server with TLS encryption.\n\n## Features\n- TLS/SSL encrypted Modbus TCP communication\n- Certificate-based authentication\n- Holding registers, coils, input registers, and discrete inputs\n- Real-time data simulation\n\n## Setup\n1. Generate certificates using the provided script\n2. Configure the TLS certificates in the Modbus server node\n3. Deploy the flow\n4. Connect with a TLS-enabled Modbus client",
        "env": []
    },
    {
        "id": "modbus-server-tls",
        "type": "modbus-server",
        "z": "tls-server-flow",
        "name": "Secure Modbus Server (TLS)",
        "logEnabled": true,
        "hostname": "0.0.0.0",
        "serverPort": "8502",
        "responseDelay": 100,
        "delayUnit": "ms",
        "coilsBufferSize": 10000,
        "holdingBufferSize": 10000,
        "inputBufferSize": 10000,
        "discreteBufferSize": 10000,
        "showErrors": false,
        "tlsOptions": {
            "type": "tls-config",
            "id": "tls-config-server"
        },
        "x": 450,
        "y": 200,
        "wires": [
            ["server-status"],
            ["server-input"],
            ["server-holding"],
            ["server-coils"],
            ["server-discrete-input"]
        ]
    },
    {
        "id": "tls-config-server",
        "type": "tls-config",
        "z": "tls-server-flow",
        "name": "Server TLS Config",
        "cert": "${payload.serverCert}",
        "key": "${payload.serverKey}",
        "ca": "${payload.caCert}",
        "certname": "server-cert.pem",
        "keyname": "server-key.pem",
        "caname": "ca-cert.pem",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "server-status",
        "type": "debug",
        "z": "tls-server-flow",
        "name": "Server Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.state",
        "statusType": "msg",
        "x": 700,
        "y": 120
    },
    {
        "id": "server-input",
        "type": "debug",
        "z": "tls-server-flow",
        "name": "Input Registers",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 700,
        "y": 180
    },
    {
        "id": "server-holding",
        "type": "debug",
        "z": "tls-server-flow",
        "name": "Holding Registers",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 710,
        "y": 240
    },
    {
        "id": "server-coils",
        "type": "debug",
        "z": "tls-server-flow",
        "name": "Coils",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 670,
        "y": 300
    },
    {
        "id": "server-discrete-input",
        "type": "debug",
        "z": "tls-server-flow",
        "name": "Discrete Inputs",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 700,
        "y": 360
    },
    {
        "id": "inject-server-data",
        "type": "inject",
        "z": "tls-server-flow",
        "name": "Initialize Server Data",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "init",
        "payload": "{}",
        "payloadType": "json",
        "x": 170,
        "y": 200,
        "wires": [["prepare-server-data"]]
    },
    {
        "id": "prepare-server-data",
        "type": "function",
        "z": "tls-server-flow",
        "name": "Prepare Server Data",
        "func": "// Simulate temperature sensor data\nlet temp = 20 + Math.random() * 10;\nlet humidity = 40 + Math.random() * 20;\nlet pressure = 1000 + Math.random() * 50;\n\n// Prepare holding registers (addresses 0-9)\nmsg.payload = {\n    'value': [\n        Math.floor(temp * 10),      // Address 0: Temperature x10\n        Math.floor(humidity * 10),   // Address 1: Humidity x10\n        Math.floor(pressure),        // Address 2: Pressure\n        Date.now() & 0xFFFF,         // Address 3: Timestamp low\n        (Date.now() >> 16) & 0xFFFF, // Address 4: Timestamp high\n        0x1234,                      // Address 5: Device ID\n        0x0100,                      // Address 6: Firmware version\n        Math.floor(Math.random() * 100), // Address 7: Random value\n        0xABCD,                      // Address 8: Status flags\n        0x5678                       // Address 9: Error code\n    ],\n    'register': 'holding',\n    'address': 0,\n    'disableMsgOutput': 0\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 280,
        "wires": [["modbus-server-tls"]]
    },
    {
        "id": "inject-coils",
        "type": "inject",
        "z": "tls-server-flow",
        "name": "Update Coils",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 150,
        "y": 340,
        "wires": [["prepare-coils"]]
    },
    {
        "id": "prepare-coils",
        "type": "function",
        "z": "tls-server-flow",
        "name": "Prepare Coils",
        "func": "// Simulate digital outputs (coils)\nlet coils = [];\nfor (let i = 0; i < 16; i++) {\n    coils.push(Math.random() > 0.5);\n}\n\nmsg.payload = {\n    'value': coils,\n    'register': 'coils',\n    'address': 0,\n    'disableMsgOutput': 0\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 400,
        "wires": [["modbus-server-tls"]]
    },
    {
        "id": "comment-1",
        "type": "comment",
        "z": "tls-server-flow",
        "name": "TLS Configuration Info",
        "info": "## TLS Certificate Configuration\n\n1. Run the certificate generation script:\n   ```bash\n   cd examples/tls-secure-modbus/certs\n   ./generate-certificates.sh\n   ```\n\n2. Configure the TLS node with:\n   - Server Certificate: `server-cert.pem`\n   - Server Private Key: `server-key.pem`\n   - CA Certificate: `ca-cert.pem`\n\n3. The server listens on port 8502 with TLS enabled\n\n4. Clients must use the matching certificates to connect",
        "x": 160,
        "y": 60
    },
    {
        "id": "monitor-connections",
        "type": "status",
        "z": "tls-server-flow",
        "name": "Monitor Server Status",
        "scope": ["modbus-server-tls"],
        "x": 160,
        "y": 480,
        "wires": [["connection-status"]]
    },
    {
        "id": "connection-status",
        "type": "function",
        "z": "tls-server-flow",
        "name": "Parse Connection Status",
        "func": "// Parse and display connection status\nif (msg.status) {\n    let status = {\n        text: msg.status.text || '',\n        fill: msg.status.fill || 'grey',\n        shape: msg.status.shape || 'ring',\n        timestamp: new Date().toISOString()\n    };\n    \n    // Check for TLS connection\n    if (status.text.includes('connected')) {\n        msg.payload = {\n            status: 'TLS Client Connected',\n            secure: true,\n            details: status\n        };\n    } else {\n        msg.payload = {\n            status: status.text,\n            secure: false,\n            details: status\n        };\n    }\n    \n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 480,
        "wires": [["show-connection"]]
    },
    {
        "id": "show-connection",
        "type": "debug",
        "z": "tls-server-flow",
        "name": "Connection Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.status",
        "statusType": "msg",
        "x": 670,
        "y": 480
    }
]